body {
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 3rem;
    color: #f1f3f8;
}

h2 {
    color: #393e46;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    padding-bottom: 1rem;
}

h3 {
    color: #393e46;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    margin: 2rem auto;
}

p {
    color: #222831;
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    margin-bottom: 4rem;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid #222831;
    border-bottom: 1px solid #f1f3f8;
    width: 10%;
}

#p-footer {
    margin-bottom: 1rem;
}

#apresentation {
    width: 40%;
    margin: 1rem auto;
}

.div-hr {
    margin: 4rem;
}

.flags {
    width: 7rem;
    padding: 0 3rem;
}

.a-programmer {
    color: #f1f3f8;
    font-weight: normal;
    line-height: 2;
}

.profile-img {
    padding-top: 2rem;
    width: 13.5rem;
}

.pro {
    text-decoration: underline;
}

.copyright {
    color: #f1f3f8;
    font-size: 0.8rem;
}

.footer-link {
    color: #f1f3f8;
    display: inline-block;
    font-family: 'Libre Baskerville', serif;
}

.img-social-logo {
    width: 3rem;
    padding: 0 3rem 1rem 3rem;
}

.btn {
    color: #222831;
    font-family: 'Libre Baskerville', serif;
}

.btn-border {
    padding: 1.5rem;
}

.top-container {
    background-color: #222831;
    padding: 6rem;
}

.middle-container {
    background-color: #dbdbdb;
    padding-bottom: 0;
}

.bottom-container {
    background-color: #30475e;
    padding-top: 0rem;
    padding-bottom: 1rem;
}

.div-flag {
    display: flex;
    justify-content: center;
}

.div-logo {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.skill-row {
    margin: 3rem auto;
    width: 50%;
    line-height: 2rem;
}